@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html {
font-family: sans-serif;
line-height: 1.15;
-webkit-text-size-adjust: 100%;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
background-color: black;
color: #ededed;
margin: 0;
font-family: "Poppins", "Helvetica", Roboto, Arial, sans-serif;
line-height: 1.5;
font-size: 14px;
font-family: "Poppins", Arial, sans-serif;
}

.h1{
    font-size: 18px;
    justify-items: left;
    margin-top: 40vh;
    padding-left:100px;
    opacity: 0.5;

}

.nm2 {
    font-size: 90px;
    padding-left: 100px;
    padding-top: 10px;
    font-size: 48px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
}

.nm3 {
    font-size: 90px;
    padding-left: 100px;
    padding-top: 10px;
    font-size: 48px;
    color: #fff;
    line-height: 1.2;
    font-weight: 600;
}

.prg1 {
    padding-top: 20px;
    opacity: 0.6;
    padding-left: 100px;
    font-size: 16px;
}

.img1 {
  height:480px;
  width:500px;
display: flex;
max-width: 58.33333%;
float: right;
margin-top: -450px;
}

.btn1 {
    background: #000;
    border: 4.5px solid deeppink !important;
    box-shadow: 0 10px 50px -15px deeppink;
    color: #fff !important;
    padding: 16.5px 50px !important;
    border-radius: 21px;
    transition: all .25s ease-out;
    margin-left: 100px;
  animation: appear linear;
  animation-timeline: view();
  animation-range:entry 0% cover 40%;  
}

.btn2 {
    background: #000;
    border: 4.5px solid #0295ff !important;
    box-shadow: 0 10px 50px -15px #0295ff;
    color: #fff !important;
    padding: 16.5px 70px !important;
    border-radius: 20px;
    margin-left: 50px;
    transition: all .25s ease-out;
    box-shadow: 0px 7px 12px 0px #02955ff;
    animation: appear linear;
    animation-timeline: view();
    animation-range:entry 0% cover 40%;  
}
